
<div id="user-detail">
  <div  class="user">
    <div class="picture">
      <img src="<%= @user.photo%>" alt="user image here"/>
    </div>
    <div class="detail">
      <h1 class="name">
        <%= @user.name%>
      </h1>
      <h3 class="post-count">
        Number of Posts: <%= @user.postCount%>
      </h3>
    </div>
  </div>
  <div id="bio">
    <h2>Bio</h2>
    <%= @user.bio%>
  </div>
  <a  href="/users/<%= @user.id%>/posts/new"> Create a new post </a>
  <div id="posts">
    <%@posts.each do |post|%>
    <%= render '/posts/post', post: post%>
    <%end%>
  <button type='submit'>See all posts</button>
  </div>

</div>
