      <a class="post" href="/users/<%=post.user.id%>/posts/<%=post.id%>">
        <h2>Post: #<%=post.id%></h2>
        <h3><%= post.title%></h3>
        <p><%= post.text%></p>
        <div class="like-comment">
          <p>comments: <%= post.commentsCount%>, Likes: <%= post.likesCount%></p>
        </div>
      </a>
