<div id="posts">
  Post: <%= @post.id%> BY <%= @post.user.name%>
  <h1><%= @post.title %></h1>
  <div class="post-stats">
    Comments: <%= @post.commentsCount %>,
    Likes: <%= @post.likesCount %>
  </div>
  <p>
    <%= @post.text %>
  </p>
  <div id="post-comments">
    <% @comments=(@post.comments.includes(:user).order(created_at: :ASC))%>
    <%@comments.each do |comment|
      %>
<div><%= comment.user.name%> : comment <%=comment.id%>
    <%= button_to "Delete comment", user_post_comment, method: :delete %>
    </div>
  <%end%>
</div>
<%= form_with  url: user_post_likes_url(@post.user, @post), local: true, scope: :scop do |form|%>
  <%= form.submit value: 'like'%>
<% end %>
<a  href="/users/<%= params[:user_id]%>/posts/<%= @post.id%>/comments/new"> Add comment </a>
<%= button_to "Delete post", user_post_path, method: :delete %>
</div>
